.button {
  background-color: #6f90ad;
  height: 40px;
  width: 100%;
  font-size: 16px;
  color: rgb(50, 49, 49);
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;
}

.button:hover {
  background-color: rgb(50, 49, 49);
  color: rgb(225, 172, 74);
}
