.buttonClean {
  background-color: #718acf;
  height: 40px;
  width: 100%;
  font-size: 16px;
  color: rgb(49, 49, 50);
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.buttonClean:hover {
  background-color: rgb(49, 49, 50);
  color: rgb(207, 28, 28);
}
