.header {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(92, 110, 144);
  text-align: center;
}

h2 {
  margin: 20px 0px 15px 10px;
}

.prices {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.purchased {
  background-color: #839ecd;
  padding: 20px;
  width: 100%;
  cursor: pointer;
}

.list {
  background-color: #d8e0ec;
  width: 100%;
  padding: 20px;
}
